A:link, A:active, A:visited
{
  color          : black;
  text-decoration: underline;
  font-weight:bold;
}
.procesosdisponibles{
 font-family:arial,helvetica;
 color:#000000;
 font-size:11px;
 text-decoration:none;
 font-weight:bold;
}
.noundline{
 font-family:arial,helvetica;
 font-size:10px;
 color:#000000;
 font-weight:normal;
 text-decoration:none;
}
.normaltext{
 font-family:arial;
 font-size:12px;
 color:#000000;
 font-weight:normal;
 text-decoration:none;
}
.normaltextred{
 font-family:arial;
 font-size:12px;
 color:#FF0000;
 font-weight:normal;
 text-decoration:none;
}
.normaltextredbold{
 font-family:arial;
 font-size:12px;
 color:#FF0000;
 font-weight:bold;
 text-decoration:none;
}
th{
 font-family:arial,helvetica;
 font-size:10px;
 color:#000000;
 font-weight:bold;
 text-decoration:none;
}
body{
    margin-left:5px;
    margin-top:5px;
}
p{
 font-family:arial,helvetica;
 font-size:12px;
 color:#000000;
 font-weight:bold;
 text-decoration:none;
}
