.ta{
font-family:arial,helvetica;
 font-size:12px;
 color:red;
 text-decoration:none;
}
td{
font-family:arial,helvetica;
 font-size:12px;
 color:#000000;
 text-decoration:none;
}
h1{
font-family:arial,helvetica;
 font-size:13px;
 color:#000000;
 background-color:#FFFFFF;
 text-decoration:none;
 font_weight:bold;
}
h3{
font-family:arial,helvetica;
 font-size:12px;
 color:#000000;
 background-color:#FFFFFF;
 text-decoration:none;
 text-transform:capitalize;
}
input{
 font-family:courier;
 font-size:12px;
 color:#000000;
 text-decoration:none;
}
p{
 font-family:arial,helvetica;
 font-size:12px;
 color:#000000;
 text-decoration:none;
}
body
{
    margin-left:5px;
    margin-top:5px;
}
